<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Portfolio</title>
</head>

<body>
    <div class="frame">
        <div class="main_frame">
          <div class="left_frame">
            <div class="left-1">
                <div class="left-1-1">
                    <img
                       src="images/Profile.png"
                       width="156px"
                       height="142px"
                       alt=""
                    />
                </div>
                <div class="left-1-2"><%=user.name%></div>
                <div class="left-1-3"><%=user.profession%></div>
                <div class="left-icons">
                    <a class="link-href" href="">
                        <div>
                            <img src="icon/facebook.svg" class="icon1">
                        </div>
                        <div>
                            <img src="icon/instagram.svg" class="icon1">
                        </div>
                        <div>
                            <img src="icon/twitter.svg" class="icon1">
                        </div>
                        <div>
                            <img src="icon/linkedn.svg" class="icon1">
                        </div>
                        <div>
                            <img src="icon/youtube.svg" class="icon1">
                        </div>
                        <div>
                            <img src="icon/dribber.svg" class="icon1">
                        </div>
                    </a>
                </div>
            </div>
            <div class="margener"></div>
            <div class="left-2">
                <div class="profile-info">
                    <div class="row">
                        <p class="label">Age:</p>
                        <div class="label">Residence:</div>
                        <div class="label">Freelance:</div>
                        <div class="label">Address:</div>
                    </div>
                    <div class="info-values">
                        <div class="value"><%=user.age%></div>
                        <div class="value"><%=user.residence%></div>
                        <div class="value available">Available</div>
                        <div class="value"><%=user.address%></div>
                    </div>
            
            </div>
            <div class="margener"></div>
            <div class="left-3">
                <div class="language">Languages</div>
                <div class="row">
                    <div class="skills">
                        <%=user.languages[0]%>
                    </div> 
                    <div class="percentage">
                        100%
                    </div>
                </div>
                <div class="rectangle1">
                    <div class="rectangle2"></div>
                </div>
                <div class="row">
                    <div class="skills">
                        <%=user.languages[1]%>
                    </div> 
                    <div class="percentage">
                        90%
                    </div>
                </div>
                <div class="rectangle1">
                    <div class="rectangle3"></div>
                </div>
                <div class="row">
                    <div class="skills">
                        <%=user.languages[2]%>
                    </div> 
                    <div class="percentage">
                        85%
                    </div>
                </div>
                <div class="rectangle1">
                    <div class="rectangle4"></div>
                </div>
                <div class="right-columns">
                    <div></div>
                </div>
            </div>
            <div class="margener"></div>
            <div class="left-4">
                <div class="skill">Skills</div>
                <div class="row">
                    <div class="skills">
                        <%=user.skills[0]%>
                    </div> 
                    <div class="percentage">
                        100%
                    </div>
                </div>
                <div class="rectangle1">
                    <div class="rectangle2"></div>
                </div>
                <div class="row">
                    <div class="skills">
                        <%=user.skills[1]%>
                    </div> 
                    <div class="percentage">
                        90%
                    </div>
                </div>
                <div class="rectangle1">
                    <div class="rectangle3"></div>
                </div>
                <div class="row">
                    <div class="skills">
                        <%=user.skills[2]%>
                    </div> 
                    <div class="percentage">
                        90%
                    </div>
                </div>
                <div class="rectangle1">
                    <div class="rectangle4"></div>
                </div>
                <div class="row">
                    <div class="skills">
                        <%=user.skills[3]%>
                    </div> 
                    <div class="percentage">
                        85%
                    </div>
                </div>
                <div class="rectangle1">
                    <div class="rectangle3"></div>
                </div>
                <div class="row">
                    <div class="skills">
                        <%=user.skills[4]%>
                    </div> 
                    <div class="percentage">
                        85%
                    </div>
                </div>
                <div class="rectangle1">
                    <div class="rectangle4"></div>
                </div>
            </div>
            <div class="margener"></div>
            <div class="left-5">
                <div class="language" style="margin-top: 20px;">
                    Extra Skills
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div>
                        <img src="icon/two_rectangle.svg" style="margin-left: -20px;">
                        <div class="extra" style="margin-top: -20px;"><%=user.extra_skills[0]%></div>
                    </div>
                    <div>
                        <img src="icon/two_rectangle.svg" style="margin-left: -20px;">
                        <div class="extra" style="margin-top: -20px;"><%=user.extra_skills[1]%></div>
                    </div>
                    <div>
                        <img src="icon/two_rectangle.svg" style="margin-left: -20px;">
                        <div class="extra" style="margin-top: -20px;"><%=user.extra_skills[2]%></div>
                    </div>
                    <div>
                        <img src="icon/two_rectangle.svg" style="margin-left: -20px;">
                        <div class="extra" style="margin-top: -20px;"><%=user.extra_skills[3]%></div>
                    </div>
                    
                </div>
               
            </div>
            <div class="margener"></div>
          </div>
        
        </div>
        <div class="mid_frame">
            <div class="mid-frame-1"> 
                <div>
                    <img src="btn_icons/elipse15.svg" style="left: -100px;" class="elipse15">
                    <img src="btn_icons/elipse16.svg" style="left: -100px;" class="elipse16">
                    <img src="btn_icons/elipse12.svg"  class="elipse16" style="margin-left: 550px; margin-top: -400px;">
                    <img src="btn_icons/elipse12.svg"  class="elipse16" style="margin-left: 550px;">
                    <img src="btn_icons/rectangle52.svg"  class="elipse16" style="margin-left: 400px; margin-top: -100px;">
                    <img src="btn_icons/polygon1.svg" style="left: 750px;" class="elipse16">
                    <img src="btn_icons/rectangle51.svg"  class="elipse16" style="margin-left: 920px; margin-top: -350px;">
                </div>           
                <div class="image"><img src="icon/big_image.svg" style="margin-top: 15px;"></div>
                <div class="text">Doctor neurologist
                    in OHSU Hospital
                </div>
                <div class="little-text"><%=user.about_me%></div>
                <div class="button">HIRE ME →</div>
            </div>
            <div class="mid-frame-2">
                <div>
                    <p class="services" m>My Services</p>
                    <div class="col-lg-6 mx-auto" style="margin-top: 25px;">
                      <p class="lead mb-4" style="font-family:Inter; font-size: 15px;font-weight: 400;line-height: 24px;letter-spacing: 0%;"><%=user.sevice_decsription%></p>
        
                    </div>
                </div>
                
                   <div class="container">
                       <div class="rectangle-card">
                          <div class="middle-images"><img src="box_images/vector.svg" style="align-items: center;"></div>
                          <div class="black-letters">Web Development</div>
                          <div class="small-letters">blog, e-commerce</div>
                       </div>
                       <div class="rectangle-card">
                          <div class="middle-images"><img src="box_images/vecotr-2.svg" style="align-items: center;"></div>
                          <div class="black-letters" style="margin-left: 97px;">uI/uX design</div>
                          <div class="small-letters">Mobile app, website design</div>
                       </div>
                       <div class="rectangle-card">
                          <div class="middle-images"><img src="box_images/micro.svg" style="align-items: center;"></div>
                          <div class="black-letters" style="margin-left: 97px;">sound design</div>
                          <div class="small-letters">Voice Over, Beat Making</div>
                       </div>
                       <div class="rectangle-card">
                          <div class="middle-images"><img src="box_images/vector-3.svg" style="align-items: center;"></div>
                          <div class="black-letters" style="margin-left: 97px;">game design</div>
                          <div class="small-letters">Character Design, Props & Objects</div>
                       </div>
                       <div class="rectangle-card">
                          <div class="middle-images"><img src="box_images/boy.svg" style="align-items: center;"></div>
                          <div class="black-letters" style="margin-left: 97px;">photography</div>
                          <div class="small-letters">portrait, product photography</div>
                       </div>
                       <div class="rectangle-card">
                          <div class="black-letters" style="margin-left: 105px; margin-top: 31px;">Advertising</div>
                          <div class="advertising">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </div>
                          <div class="order">
                            <div class="order-now">ORDER NOW ></div>
                          </div>
                       </div>

                       
                   </div>
                </div>

            </div>
    
        </div>
        <div class="right_frame">
            <div> <img src="icon/moon.svg" style="margin-top: 50px;" alt=""></div>
            
            <div class="menu">
                <div> 
                    <img src="icon/home.svg">
                    <p style="margin-top: -25px; text-align: center;color: white;">Home</p>
                    
                    
                </div>
                <div style="margin-top: 14;">
                    <img src="icon/house.svg">
                    
                </div>
                
                <div><img src="icon/vector.svg" style="margin-top: 45px"></div>
                <div><img src="icon/student.svg" style="margin-top: 45px"></div>
                <div><img src="icon/folder.svg" style="margin-top: 45px"></div>
                <div><img src="icon/rectangle.svg" style="margin-top: 45px"></div>
                <div><img src="icon/message.svg" style="margin-top: 45px"></div>
                
            </div>
        </div>


    </div>
</body>

</html>